body
{
    background: #FFF url(img/bg-wall-repeat.jpg);
    line-height: 1;
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
}

.container
{
    margin-top: 150px;
}

h2
{
    text-align: center;
}